<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info - Home</title>
</head>
<body>
    <h1>Info - Home</h1>
    @{ 
        var date = DateTime.Now;
        Write("Hello World");
    }

    <p>Date is <strong>@date.ToLongDateString()</strong></p>
    <p>Time is <strong>@date.ToLongTimeString()</strong></p>
</body>
</html>
