<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info - Home</title>
    <link href="~/app.css" rel="stylesheet" />
</head>
<body>

    <header>
        <h1>Info Server</h1>
        <nav>
            <a href="/info/home">Home</a>
            <a href="/info/help">Help</a>
        </nav>
    </header>

    <div class="content">

        <h1>Info - @ViewData["PageTitle"]</h1>
       

        <p>Date is <strong>@ViewBag.Date.ToLongDateString()</strong></p>
        <p>Time is <strong>@ViewBag.Date.ToLongTimeString()</strong></p>

    </div>

    <footer>
        &copy; @ViewBag.Email | follow us on @@vivekdmishra
    </footer>


</body>
</html>
