@model Users

<h1>Register here!</h1>

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    <span>Enter Your Name:</span> @Html.TextBoxFor(m => m.Username)
    <br />
    <span>Enter Your Email: </span> @Html.TextBoxFor(m => m.Email)
    <br />
    <span>Enter Your Password: </span>@Html.TextBoxFor(m => m.Password)
    <br />

    <input id="Submit" type="submit" value="submit" />
}
